# Ignorar TUDO o que não é estritamente necessário para o BUILD da imagem
# (O código fonte será montado via VOLUME no compose, não via COPY no Dockerfile)
www/
.git/

# Ignorar lixo e temporários
**/*.zip
**/*.rar
**/*.7z
**/*.bak
**/*.old
**/*.log
**/*.sql
**/.vscode/
**/.codex/
node_modules/

# Manter apenas os arquivos necessários para construir o ambiente (Dockerfile e configs de infra)
!Dockerfile_php8
!compose_php8.yml
!docker-config/
!assinador-dotnet/
!cron_php8/
!.dockerignore
