parameters:
    level: 8

    paths:
        - www/includes

    bootstrapFiles:
        - phpstan-bootstrap.php

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            message: '#Property FPDF::\$.* type has no value type specified in iterable type array#'
            path: www/includes/fpdf/fpdf.php