parameters:
    level: 8

    paths:
        - www/includes

    bootstrapFiles:
        - phpstan-bootstrap.php

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            message: '#Property FPDF::\$.* type has no value type specified in iterable type array#'
            path: www/includes/fpdf/fpdf.php
        -
            message: '#Cannot access offset .* on array<int\|string, string\|null>\|false#'
            path: www/includes/inc_Pagamentos.php
        -
            message: '#Cannot access offset .* on array<int\|string, string\|null>\|false#'
            path: www/includes/inc_Pagamentos.php
        -
            message: '#offsetAccess.nonOffsetAccessible#'
            path: www/includes/inc_Pagamentos.php