<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>E-Prepag - Créditos para games online</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />        
        <style>    
            .estiloSpan { color:#2A68A1; text-decoration: none;}
            a { color: #515151;text-decoration: none;}
            .font-10px { font-size:10px; }
        </style>
    </head> 
    <body>
        <table align="center" border="0" width="640">
            <tr>
                <td><img src="http://www.e-prepag.com.br/prepag2/images/comprasnaoconcluidas.gif" border="0" /></td>
            </tr>
            <tr>
                <td>
                    <table align="left" border="0">
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td height="300" width="390" valign="top" align="left">
                                <table style="font: 12px arial, sans-serif; color: #515151;" border="0" cellpadding="2">
                                    <tr>
                                        <td>
                                            <br>
                                            Olá,<br><br>
                                            Verificamos que recentemente você tentou fazer uma compra pela <nobr>E-Prepag.</nobr> Caso tenha tido alguma dificuldade, ou se alguma coisa não agradou, fique a vontade para enviar sua opinião para <nobr><a href="mailto:suporte@e-prepag.com.br" class="estiloSpan">suporte@e-prepag.com.br</a></nobr>.
                                            <br><br>
                                            Lembrando que a E-Prepag oferece os seguintes meios de pagamentos:<br>
                                            <img src="http://www.e-prepag.com.br/prepag2/images/meios-de-pagamento_cnc.gif">
                                        </td>
                                    </tr>
                                    <tr><td height="5"></td></tr>
                                    <tr>
                                        <td>
                                            <a class="estiloSpan" href="https://www.e-prepag.com.br/game/conta/login.php" target="_blank">Clique Aqui</a> para acessar o seu cadastro.<br /><br />
                                            Qualquer dúvida entre em contato conosco no e-mail <a class="estiloLink" href="mailto:suporte@e-prepag.com.br">suporte@e-prepag.com.br</a><br><br>
                    <a href="https://www.e-prepag.com/support">Atendimento online</a> de segunda a sexta-feira, das 9h às 17h. <br /><br />
                        Atenciosamente<br><br>
                                            <img src="http://www.e-prepag.com.br/prepag2/images/logo_epp_email.png" /><br />
                                            <a class="estiloSpan font-10px" href="http://www.e-prepag.com.br" target="_blank">www.e-prepag.com.br</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>