<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
    <title>Lan House Aprovada</title>
    <style type="text/css">
        a,b,body,p,td{font-size:12px;font-family:Arial,Tahoma,Sans Serif}
        .header_padrao{font-size:24px;font-weight:700;color:#1f5b89}
        .destaque_padrao{font-size:14px;font-weight:700;color:#1f5b89}
        .style2{font-size:22px;font-weight:700;color:#1f5b89}
        .style3{font-size:14px}
        .style5{font-size:14px;color:green;font-style:italic;font-weight: bold}
        .style7{font-size:14px;font-weight:700;color:#1f5b89}
        .style-txt-azul-claro {color: #1681b7; font-size: 12px;}
        .style-txt-azul-claro-medio {color: #1681b7; font-size: 18px;}
        .link_sem_sublinhado {text-decoration: none;}
     </style>
</head>
<body>
<center>
    <table border="0" cellpadding="0" cellspacing="1" style="border-collapse: collapse;" width="640">
        <tbody>
        <tr align="center">
            <td width="*">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="633">
                    <tbody>
                    <tr>
                        <td align="center"><a href="https://www.e-prepag.com.br/creditos/login.php"><img alt="" src="http://www.e-prepag.com.br/prepag2/images/header_aprovacao.gif" style="width: 640px; height: 94px;" /></a></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="633">
                                <tbody>
                                <tr valign="top">
                                    <td width="30"> </td>
                                    <td align="left" width="*"> </td>
                                    <td align="left" width="*"> </td>
                                    <td align="left" width="*">
                                        <p><br />
                                            <span class="style5">Seu estabelecimento foi aprovado! Mas antes de começar, veja essas 5 dicas sobre o sistema de vendas:&nbsp;</span></p>

                                        <p> </p>

                                        <h3><span style="color: rgb(31, 91, 137); font-size: 22px; font-weight: bold;">1 - Seu login é </span><span style="color:#330066;font-family:arial,helvetica,sans-serif;font-weight: bold"><<<LOGIN>>></span></h3>
 <!--(<b><a href="https://www.e-prepag.com.br/creditos/login.php">https://www.e-prepag.com.br/creditos/</a></b>)-->
                                        <p><span style="color: rgb(105, 105, 105); font-size: 14px;">O sistema da E-Prepag é online e você já pode acessá-lo. A senha é a mesma que você cadastrou. Caso não se lembre, clique em "Esqueci minha senha".</span></p><br />
                                        <a class="link_sem_sublinhado" href="https://www.e-prepag.com.br/creditos/login.php"><img alt="Acessar loja" src="https://www.e-prepag.com.br/prepag2/images/botao_acessarloja.gif" /></a>

                                        <p> </p>

                                        <p><span style="color: rgb(31, 91, 137); font-size: 22px; font-weight: bold;">2 - Comissionamento</span></p>
                                        
                                        <p><span style="color: rgb(105, 105, 105); font-size: 14px;">Como funciona: você compra os PINs com desconto no sistema da E-Prepag e vende pelo valor final.
                                        Por exemplo: se um cliente solicita um PIN de R$ 100,00, você compra este PIN da E-Prepag por R$ 90,00 e vende por R$ 100,00 (no caso de um produto com 10% de comissão).
                                        Seu lucro ficará então em R$ 10,00 para esta venda. O valor da comissão sempre é apresentado nos produtos e aparecerá nas telas de compra dos PINs.
                                        <b><a class="link_sem_sublinhado" href="http://blog.e-prepag.com/comissionamento-para-ponto-de-venda">Veja mais detalhes sobre a comissão.</a></b></span></p>
                                        <p> </p>

                                        <p><span style="color: rgb(31, 91, 137); font-size: 22px; font-weight: bold;">3 - Carregue o saldo para fazer vendas</span></p>
                                        
                                        <p><span class="style3" style="color:#696969;">Para vender créditos, você precisa ter saldo em seu cadastro de revendedor. Após acessar sua área de PDV, basta clicar em "Adicionar saldo". Ao fazer a primeira recarga enviaremos um kit de material promocional para você.
                                        <b><a class="link_sem_sublinhado" href="https://www.youtube.com/watch?v=kPRS5iI6oRI">Veja o vídeo tutorial de como adicionar saldo.</a></b></span></p>

                                        <p style="color: rgb(31, 91, 137); font-size: 22px; font-weight: bold;">4 - Teste o sistema com "Treinamento"</p>
 
                                        <p><span class="style3" style="color:#696969;">O primeiro item de sua loja é o <strong>Treinamento</strong>. Utilize-o a vontade para testar o sistema. Você não utilizará o seu saldo quando utilizar o <strong>Treinamento</strong>.<b><a class="link_sem_sublinhado" href=" https://www.youtube.com/watch?v=Ul4-KFRRKoM">Veja o vídeo tutorial de vendas.</a></b> </span>.</p>

                                        <p> </p>

                                        <p><span style="color: rgb(31, 91, 137); font-size: 22px; font-weight: bold;">5 - Materiais promocionais</span></p>

                                        <p><span class="style3" style="color:#696969;">Para potencializar a promoção das suas vendas, a E-Prepag oferece kits de divulgação digitais exclusivos. Com esses materiais, você pode imprimir para exibir em seu estabelecimento, compartilhar nas suas redes sociais ou integrar diretamente ao seu site.<br><br>Acesse o link <a href="https://e-prepagpdv.com.br/midia-kits/">https://e-prepagpdv.com.br/midia-kits/</a> e faça o download!</span></p>

                                        <p> </p>
                                    </td>
                                    <td width="15"> </td>
                                    <td align="center" width="156">
                                        <p><br />
                                            <span>
                                                <a href="https://www.facebook.com/eprepagpontodevenda"><img alt="Facebook" src="https://www.e-prepag.com.br/prepag2/images/icone_facebook.gif" style="width:28px;height:28px;" /></a>&nbsp;
                                                <a href="https://www.youtube.com/user/EPrepagVideos"><img alt="Youtube" src="https://www.e-prepag.com.br/prepag2/images/icone_youtube.gif" style="width:28px;height:28px;" /></a>&nbsp;
                                                <a href="https://www.instagram.com/eprepagoficial/"><img alt="Instagram" src="https://www.e-prepag.com.br/prepag2/images/icone_instagram.gif" style="width:28px;height:28px;" /></a>&nbsp;
												<a target="_blank" href="https://de.linkedin.com/company/e-prepag"><img src="https://www.e-prepag.com.br/prepag2/images/linkedin.png" align="right" border="0" style="width:28px;height:28px;margin-left: -25px;" /></a>&nbsp;
                                            </span>
                                        </p>
                                        <p align="left" style="line-height: 20px;"><br />
                                            <span class="style-txt-azul-claro" align="left"><a class="style-txt-azul-claro link_sem_sublinhado" href="mailto:suporte@e-prepag.com.br">suporte@e-prepag.com.br</a></span><br />
                                        </p>
                                        <p align="left" style="line-height: 20px;"><br />
                                            <span class="style-txt-azul-claro-medio">Acesse também pelo aplicativo</span><br />
                                            <span><a href="https://play.google.com/store/apps/details?id=com.app.eprepag"><img alt="Google Play" src="https://www.e-prepag.com.br/prepag2/images/botao_googleplay.gif"/></a></span>
                                        </p>

                                    </td>
                                    <td width="15"> </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
	<table align="center" border="0" width="640" bgcolor="FFFFFF" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #cccccc;">
		<tr>
			<td width="15">&nbsp;</td>
			<td>
				<font face="arial" color="#515151" size="2">
				<p style="line-height: 1.7em; margin-top: 0px">
										<br>
											Atenciosamente, <br>
									</p>
				</font>
				<table border="0" width="100%" cellspacing="0">
					<tr>
						<td>
							<a target="_blank" href="http://www.e-prepag.com"><img src="http://www.e-prepag.com.br/prepag2/images/logo_epp_email.png" align="left" border="0" /></a><br><br>
							<font face="arial" color="#515151" size="2"><a class="estiloLink" target="_blank" href="http://www.e-prepag.com">www.e-prepag.com</a></font>
						</td>
						<td>
							<a target="_blank" href="http://www.youtube.com/user/EPrepagVideos"><img src="http://www.e-prepag.com.br/prepag2/images/youtube.gif" align="right" style="margin-left:15px;" border="0" /></a>
							<a target="_blank" href="http://goo.gl/rGySHs"><img src="http://www.e-prepag.com.br/prepag2/images/facebook.gif" align="right" style="margin-left:15px;" border="0" /></a>
							<a target="_blank" href="https://www.instagram.com/eprepagoficial/"><img src="https://www.e-prepag.com.br/prepag2/images/instagram.png" align="right" border="0" style="display: block;width:28px;height:28px;margin-left:15px;" /></a>
							<a target="_blank" href="https://de.linkedin.com/company/e-prepag"><img src="https://www.e-prepag.com.br/prepag2/images/linkedin.png" align="right" border="0" style="display: block;width:28px;height:28px;" /></a>&nbsp;
						</td>
					</tr>
				</table>
				<br>
			</td>				
		</tr>
	</table>
		<!-- RODAPE -->
	<table align="center" border="0" width="640" bgcolor="FFFFFF" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center" style="font: normal 12px arial, sans-serif; color: #515151;"><br>E-Prepag Copyright 2016 - Todos os direitos reservados</td>
		</tr>
	</table>				
	<!-- /RODAPE -->
</center>
</body>
</html>