<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="LanAprovadaStyle/Styles/LanAprovada.css">
</head>

<body class="roboto-regular">
    <header>
        <div>
            <div class="header">
                <img class="img-logo" alt="Logo E-PREPAG" src="LanAprovadaStyle/Images/dummy_horizontal 2.svg" />
                <a class="menu allerta-regular" href="">Menu</a>
            </div>
            <p class="text-header allerta-regular">Texto do header</p>
        </div>
    </header>
    <main>
        <div class="banner allerta-regular">
            <!-- <img class="img-banner" src="css/Vector 22.svg" alt="banner-figure"> -->
            <p>Banner</p>
        </div>

        <h1 class="welcome allerta-regular">Olá, <<<NOME>>>!</h1>
        <div class="content">
            <p class="news allerta-regular">Temos ótimas notícias para você!</p>

            <p>Bem-vindo! Seu cadastro como parceiro de vendas da E-prepag foi aprovado. Estamos muito felizes em
                tê-lo conosco!</p>
            <p> Agora, você pode aproveitar todos os benefícios de ser nosso parceiro, mas antes disso,
                preparamos cinco dicas sobre o nosso sistema de vendas:</p>

            <ul>
                <li>
                    <p><strong>1 - Acesse o seu cadastro:</strong></p>
                    <p>Acesse o seu cadastro no nosso site com o seu login
                        e senha. Caso tenha esquecido o seu login, é <<<LOGIN>>>. A sua senha é pessoal e intransferível,
                        e
                        nós não temos acesso, por isso, caso tenha esquecido, pedimos para redefinir através do
                        nosso
                        site clicando em ‘esqueci a minha senha’.</p>
                </li>
                <li>
                    <p><strong>2 - Comissionamento:</strong></p>
                    <p>Como funciona: você compra os PINs com desconto no sistema
                        da E-Prepag e vende pelo valor final. Por exemplo: se um cliente solicita um PIN de R$
                        100,00,
                        você compra este PIN da E-Prepag por R$ 90,00 e vende por R$ 100,00 (no caso de um produto
                        com 10% de comissão). Seu lucro ficará então em R$ 10,00 para esta venda. O valor da
                        comissão sempre
                        é apresentado nos produtos e aparecerá nas telas de compra dos PINs. <a style="color: black;" href="https://e-prepagpdv.com.br/blog-pdv/tutoriais-e-prepag/comissionamento-para-pdv/">Veja mais detalhes sobre a comissão.</a></p>
                </li>
                <li>
                    <p><strong>3 - Carregue o saldo para fazer vendas:</strong></p>
                    <p>Após acessar sua área de PDV, basta
                        clicar em "Adicionar saldo". Ao fazer a primeira recarga enviaremos um kit de material
                        promocional para você. Veja o vídeo tutorial de como adicionar saldo.</p>
                    <div class="video-box">
                        <iframe width="240" height="149" src="https://www.youtube.com/embed/kPRS5iI6oRI"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                        </iframe>
                    </div>
                </li>
                <li>
                    <p><strong>4 - Teste o sistema com "Treinamento":</strong></p>
                    <p>O primeiro item de sua loja é o Treinamento. Utilize-o à vontade para testar o sistema. Você
                        não utilizará o seu saldo quando utilizar o Treinamento. <a style="color: black;" href="https://www.youtube.com/watch?v=Ul4-KFRRKoM">Veja o vídeo tutorial de vendas.</a>
                    </p>
                </li>
                <li>
                    <p><strong>5 - Materiais promocionais:</strong></p>
                    <p>Para potencializar a promoção das suas vendas, a E-Prepag oferece kits de divulgação digitais
                        exclusivos. Com esses materiais, você pode imprimir para exibir em seu estabelecimento,
                        compartilhar nas suas redes sociais ou integrar diretamente ao seu site.</p>
                </li>
            </ul>
            <p class="download-text nunito-regular">Acesse e faça o download!</p>
            <a class="download-btn nunito-regular" href="https://e-prepagpdv.com.br/midia-kits/">Fazer download</a>
            <p class="download-text nunito-regular">Comece agora mesmo a utilizar a sua conta E-prepag</p>
            <p class="download-text nunito-regular">Atenciosamente. <br />Equipe E-prepag</p>
        </div>
    </main>
    <footer class="footer">
        <p>E-Prepag Copyright 2016 - Todos os direitos reservados</p>
    </footer>
</body>

</html>