<html>
    <head>
        <title>Onboarding de boas vindas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

<body bgcolor="#FFFFFF" style="margin:0; padding:0;">

    <table width="720" border="0" cellpadding="0" cellspacing="0" align="center">

        <tr>
            <td bgcolor="#FFFFFF">
                <img src="https://www.e-prepag.com.br/imagens/e-prepag_pdv_logo.png" width="720" style="display:block;">
            </td>
        </tr>

        <tr>
            <td bgcolor="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">

                <p style="text-align: justify; padding:0px 30px;">
                    Olá <<<NOME>>>, <br><br>

                    Que alegria receber seu interesse em se tornar um Ponto de Vendas E-prepag!
                </p>

                <h2 style="color:#039BE5; text-align:justify; padding:0px 30px;">
                    Estamos ansiosos para começar nossa parceria
                </h2>

                <p style="text-align: justify; padding:0px 30px;">
                    Para concluirmos seu cadastro e darmos início às suas vendas, falta apenas
                    um passo importante: o envio de algumas informações complementares em
                    nosso link de onboarding seguro.
                </p>

                <h2 style="color:#039BE5; text-align:justify; padding:0px 30px;">
                    Veja como é fácil concluir!
                </h2>

                <p style="text-align: justify; padding:0px 30px;">

                    Cadastro Rápido: o preenchimento leva menos de 10 minutos.<br><br>

                    Tenha em mãos: o número do CNPJ, uma imagem do seu canal de vendas
                    (loja física ou online) e um documento de identidade com foto.<br><br>

                    Início Imediato das Vendas: Após o envio, seu cadastro pode ser ativado
                    em até 1 dia útil e você já pode começar a vender!<br><br>

                </p>

                <p align="center">
                    <a href="https://cadastro.io/?token=92af1f1040a6f03c42f4082ee30d92b1">
                        <img src="https://www.e-prepag.com.brimagens/botao_completar_cadastro.png" width="400" style="display:block; border:0;">
                    </a>
                </p>

                <p style="text-align: justify; padding:0px 30px;">
                    Caso já tenha completado seu cadastro, você receberá o retorno sobre a
                    ativação do seu Ponto de Vendas por e-mail.
                </p>

                <p style="text-align: justify; padding:0px 30px;">
                    Qualquer dúvida, entre em contato com nossa equipe de suporte:
                    <a href="mailto:suporte@e-prepag.com.br">suporte@e-prepag.com.br</a>
                </p>
            </td>
        </tr>

        <tr>
            <td bgcolor="#FFFFFF">
                <img src="https://www.e-prepag.com.br/imagens/epp_logo.png" width="720" style="display:left;">
            </td>
        </tr>

    </table>

</body>
</html>
