<html>

<head>
    <title>Onboarding de boas vindas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>

<body bgcolor="#FFFFFF" style="margin:0; padding:0;">

    <table width="720" border="0" cellpadding="0" cellspacing="0" align="center" style="width:720px; max-width:100%;">

        <tr>
            <td align="center" bgcolor="rgb(22,129,183)"
                style="background-color:#039BE5; line-height:0; font-size:0; padding: 10px 0;">

                <img src="https://images.eprepag.com.br/e-prepag_pdv_logo.png" width="300"
                    style="display:block; margin:0 auto; width:300px; max-width:90%; height:auto;" border="0"
                    alt="Logo">

            </td>
        </tr>

        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif;">

                <p style="text-align: justify; padding:0px 30px;">
                    Olá <<<NOME>>>, <br><br>
                        Que alegria receber seu interesse em se tornar um Ponto de Vendas E-prepag!
                </p>

                <h2 style="color:#039BE5; text-align:justify; padding:0px 30px;">
                    Estamos ansiosos para começar nossa parceria
                </h2>

                <p style="text-align: justify; padding:0px 30px;">
                    Para concluirmos seu cadastro e darmos início às suas vendas, falta apenas
                    um passo importante: o envio de algumas informações complementares em
                    nosso link de onboarding seguro.
                </p>

                <h2 style="color:#039BE5; text-align:justify; padding:0px 30px;">
                    Veja como é fácil concluir!
                </h2>

                <p style="text-align: justify; padding:0px 30px;">
                    &#9889; Cadastro Rápido: Leva menos de 10 minutos para preencher todas as informações.<br><br>
                    &#128196; Tenha em mãos: O número do CNPJ, imagem do seu canal de vendas (física/online) e um
                    documento de identidade com foto.<br><br>
                    &#128640; Aprovação rápida: Após o envio, você já pode começar vender em até 1 dia útil.<br><br>
                </p>

                <p align="center">
                    <a href="https://cadastro.io/?token=92af1f1040a6f03c42f4082ee30d92b1">
                        <img src="https://images.eprepag.com.br/botao_completar_cadastro.png" width="280"
                            style="display:block; margin:0 auto; width:200px; max-width:80%; height:auto; border:0;">
                    </a>
                </p>

                <p style="text-align: justify; padding:0px 30px;">
                    Caso já tenha completado seu cadastro, você receberá o retorno sobre a
                    ativação do seu Ponto de Vendas por e-mail.
                </p>

                <p style="text-align: justify; padding:0px 30px;">
                    Qualquer dúvida, entre em contato com nossa equipe de suporte:
                    <a href="mailto:suporte@e-prepag.com.br">suporte@e-prepag.com.br</a>
                </p>

            </td>
        </tr>

        <tr>
            <td align="left" style="padding-left:20px; padding-top:20px;">
                <img src="https://images.eprepag.com.br/epp_logo.png" width="160"
                    style="display:block; width:160px; max-width:60%; height:auto;" border="0" alt="Logo rodapé">
            </td>
        </tr>
    </table>

</body>

</html>