<html>

<head>
	<title>Onboarding de boas vindas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<!-- Save for Web Slices (Onboarding de boas vindas.psd) -->
	<table id="Table_01" width="720" height="1200" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td bgcolor="#151D20">
				<a href="https://www.e-prepag.com.br/">
					<img src="https://www.e-prepag.com.br/imagens/LogoEPrepag.png" width="720" height="85" border="0"
						alt="LogoEPrepag"></a>
			</td>
		</tr>
		<tr>
			<td bgcolor="#151D20">
				<img src="https://www.e-prepag.com.br/imagens/Onboarding-de-boas-vindas_02.png" width="720" height="357"
					alt="">
			</td>
		</tr>

		<tr>
			<td bgcolor="#151D20" style="font-family: 'Poppins', sans-serif; font-weight: 900;
			">
				<h2 style="color: #328bbb;text-align: justify; padding: 0px 30px;">Olá <<<NOME>>></h2>
				<p style="text-align: justify; padding:0px 30px; color: #fff">Queremos agradecer pela sua confiança e
					interesse em se tornar um parceiro de vendas da E-prepag.

					Pedimos que você conclua o seu cadastro pelo link de onboarding abaixo. É superrápido!<br><br>Tenha
					em mãos o seu documento de identificação e as informações da sua empresa. Se possível, faça todo o
					processo pelo celular, pois será necessário tirar fotos suas e do seu documento de identificação.
					<br><br><span style="color: #328bbb"><a
							href="https://cadastro.io/87ff8e5d6cee8e712af17a7dbea63058">https://cadastro.io/87ff8e5d6cee8e712af17a7dbea63058</a></span><br><br>Em
					até três dias úteis você receberá a resposta da sua análise.
				</p>

				<p style="text-align: justify; padding:0px 30px; color: #fff">Em caso de dúvidas, entre em contato com
					<a style="color: #fff;" href="mailto:suporte@e-prepag.com.br">suporte@e-prepag.com.br</a> ou com o Chat no nosso site
					oficial: <a style="color: #fff;" href="https://www.e-prepag.com.br/">www.e-prepag.com.br</a>
				</p>

				<p style="text-align: justify; padding:0px 30px; color: #fff">Atenciosamente, Equipe E-prepag</p>
			</td>
		</tr>
		<tr>
			<td bgcolor="#151D20"><!--  -->
				<a href="https://cadastro.io/87ff8e5d6cee8e712af17a7dbea63058">
					<img src="https://www.e-prepag.com.br/imagens/Onboarding-de-boas-vindas_04.png" width="720"
						height="270" border="0" alt=""></a>
			</td>
		</tr>
		<tr>
			<td bgcolor="#151D20">
				<a href="https://www.e-prepag.com.br/game/suporte.php">
					<img src="https://www.e-prepag.com.br/imagens/SuporteEPrepag.png" width="720" height="136"
						border="0" alt="SuporteEPrepag"></a>
			</td>
		</tr>
		<tr>
			<td bgcolor="#151D20">
				<a href="https://www.instagram.com/eprepagoficial/">
					<img src="https://www.e-prepag.com.br/imagens/InstagramEPrepag.png" width="720" height="117"
						border="0" alt="InstagramEPrepag"></a>
			</td>
		</tr>
	</table>
	<!-- End Save for Web Slices -->
</body>

</html>