E-PREPAG, SÃO PAULO, SP, Terça, 14 de Novembro de 2023, 15:26
E-PREPAG TESTES. 


<table border='0' cellspacing='0'>
<tr><td>&nbsp;</td></tr>
<tr valign='middle' bgcolor='#FFFFFF'>
	<td align='left' class='texto'>
		Confirmamos a recepção do seu cadastro de operador junto ao E-Prepag LanHouses. <br>
		Você pode começar a usar esse cadastro imediatamente.<br>
	</td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>

A E-Prepag, através de seus consultores de negócios, está disponível para esclarecer quaisquer dúvidas
através do e-mail suporte@e-prepag.com.br.
Agradecemos por sua preferência em nossos produtos e serviços.
Atenciosamente,
E-Prepag
* One Stop Total Billing Service!
www.e-prepag.com.br 
