<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>E-Prepag - Créditos para games online</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />        
        <style>    
            .estiloSpan { color:#2A68A1; text-decoration: none;}
            a { color: #515151;text-decoration: none;}
            .font-10px { font-size:10px; }            
        </style>
    </head> 
    <body>
        <table align="center" border="0" width="640">
            <tr>
                <td><img src="http://www.e-prepag.com.br/prepag2/images/topo_email.gif" border="0" /></td>
            </tr>
            <tr>
                <td>
                    <table align="left" border="0">
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td height="300" width="400" valign="top" align="left">
                                <table style="font: bold 12px arial, sans-serif; color: #515151;" border="0" cellpadding="2">
                                    <tr>
                                        <td>
                                            <br>
                                            Bom dia <<<UG_NOME>>><br><br>
                                            Você tem saldo em <font face="arial" color="#2A68A1" size="2">E-Prepag Cash</font> disponível que pode ser utilizado em sua próxima compra de créditos para games.
                                            <div style="border-bottom: 1px solid #6499C3;font-size:7px;">&nbsp;</div>                                                                                                                                                                            
                                        </td>
                                    </tr>
                                    <tr><td height="3"></td></tr>
                                    <tr>
                                        <td>
                                            Seu saldo é de:<br>
                                            <font face="arial" color="#008F16" size="4"><<<UG_PERFIL_SALDO>>> EPP Cash</font><br>
                                            <div style="border-bottom: 1px solid #6499C3;font-size:7px;">&nbsp;</div>    
                                        </td>
                                    </tr>
                                    <tr><td height="5"></td></tr>
                                    <tr>
                                        <td>
                                            Para utilizá-la, basta acessar o seu cadastro na E-Prepag e utilizar o E-Prepag Cash como forma de pagamento<br /><br />
                                            <a class="estiloSpan" href="https://www.e-prepag.com.br/game/conta/login.php" target="_blank">Clique Aqui</a> para acessar o seu cadastro.<br /><br />
                                            Qualquer dúvida entre em contato conosco no e-mail <a class="estiloLink" href="mailto:suporte@e-prepag.com.br">suporte@e-prepag.com.br</a><br><br>
                                            <a class="estiloSpan" href="https://www.e-prepag.com/game/suporte.php">Atendimento online</a> de segunda a sexta-feira, das 9h às 17h. <br /><br />
                                                                                        Atenciosamente<br><br><br/>
                                            <img src="http://www.e-prepag.com.br/prepag2/images/logo_epp_email.png" /><br />
                                            <a class="estiloSpan font-10px" href="http://www.e-prepag.com.br" target="_blank">www.e-prepag.com.br</a>
                                        </td>
                                    </tr>                                    
                                </table>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </td>                
            </tr>
        </table>
    </body>
</html>