body{
	margin: 0;
}
.row{
	min-height: 100vh;
}
.image-eprepag{
	height: 38px;
	width: 156px;
}

.container-fluid{
	background-color: #eeeeee;
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;
}
.form-resgate{
	/*min-height: 50vh;*/
	border-radius: 5px;
	padding: 10px;
	margin: 2.5%;
	box-shadow: 0 3px 28px black;
	background-color: #40739e; /*#7f8fa6*/
}
.height-container{
	min-height: 35vh;
}
.border-hr{
	border: solid 2px white;
	width: 100%;
	opacity: 1;
}
.diamond, .conta{
	color: #40739e;
	transition: color .5s ease-in;
}
.input-group:hover .diamond{
	color: black;
}
.input-group:hover .conta{
	color: black;
}
.text-inform{
	padding: 10px;
	letter-spacing: 1.25px;
	font-weight: bold;
	font-size: .80em;
}

@media screen and (max-width: 750px){
	.image-ale{
	    width: 40%; /*20*/
   }
}
@media screen and (min-width: 750px){
	.image-ale{
	    width: 12%;
   }
}
@media screen and (min-width: 960px){
	.image-ale{
	    width: 10%;
   }
}
/*@media screen and (min-width: 1600px){
	.image-ale{
	    width: 5%;
   }
}*/