<div class="cupom_small cupom_small_width">
    <img class="eplogo" src="{{logo_epp}}" />
    <img src="{{logo}}" class="gamelogo" height="35px" />

    <table class="info cupom_small_width" cellspacing="0" cellpadding="0">
        <tr><td class="infoleft">Publisher:</td><td class="inforight">{{publisher}}</td></tr>
        <tr><td class="infoleft">Produto:</td><td class="inforight">{{product}}</td></tr>
        <tr><td class="infoleft">Valor:</td><td class="inforight">{{value}}</td></tr>
    </table>

    <div style="height: 4px;"></div>

    <table cellspacing="0" cellpadding="0" class="cupom_small_width">
        <tr><td>PIN:</td></tr>
        <tr><td>{{pin}}:</td></tr>
    </table>
    
    <div style="height: 4px;"></div>

    <table cellspacing="0" cellpadding="0" class="cupom_small_width">
        <tr><td>Serial:</td></tr>
        <tr><td>{{serial}}:</td></tr>
    </table>
    
    <div style="height: 4px;"></div>

    <table cellspacing="0" cellpadding="0" class="cupom_small_width" style="font-size: 10px; text-align: center; border: 1px dotted black; border-right: 0px; border-left: 0px; ">
        <tr><td height="6px;"></td></tr>
        <tr><td>Qualquer duvida, entre em contato:</td></tr>
        <tr><td>suporte@e-prepag.com.br</td></tr>
        <tr><td>www.e-prepag.com</td></tr>
        <tr><td height="6px;"></td></tr>
    </table>

</div>
