<div class="cupom_small">
    <img class="eplogo" src="{{logo_epp}}" />
    <img src="{{logo}}" class="gamelogo" height="35px" />

    <p class="inforow"><span>Publisher:</span><span>{{publisher}}</span></p>
    <p class="inforow"><span>Produto:</span><span>{{product}}</span></p>
    <p class="inforow"><span>Valor:</span><span>R$ {{value}}</span></p>

    <div style="height: 8px;"></div>

    <p class="pin">PIN:</p>
    <p class="pin">{{pin}}</p>


    <p><strong>Serial:</strong></p>
    <p>{{serial}}</p>

    <div class="cupom_footer">
        <p>Qualquer duvida, entre em contato:</p>
        <p>suporte@e-prepag.com.br</p>
        <p>www.e-prepag.com</p>
    </div>
</div>
